@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Figtree:ital,wght@1,300&family=Pacifico&family=Solitreo&display=swap");
footer {
  background: linear-gradient(#e3dbd3, 38%, #998477);
  grid-area: footer; }
  footer .footer__principal {
    padding: 20px;
    display: flex;
    -ms-flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    footer .footer__principal .footer__principal__logo {
      width: fit-content; }
    footer .footer__principal .footer__principal__logo a img {
      width: 150px; }
    footer .footer__principal .footer__map {
      display: flex;
      align-items: center;
      flex-direction: row; }
    footer .footer__principal .footer__map iframe {
      margin-right: 20px;
      border-radius: 100%;
      opacity: .7;
      shape-outside: margin-box; }
    footer .footer__principal .footer__redes__iconosredes {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
    footer .footer__principal .footer__redes__iconosredes img {
      width: 45px;
      height: 40px; }
  footer .copy {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    footer .copy p {
      text-align: center; }

header {
  display: grid;
  grid-template-areas: "logo nav nav nav";
  grid-area: header;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: flex-start; }
  header img {
    width: 100px;
    margin: 20px; }

.header__logo {
  grid-area: logo;
  padding: 20px; }

.navbar {
  grid-area: nav; }

.container-fluid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.navegador__lista {
  list-style-type: none;
  text-decoration: none;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.nav-item a {
  font-family: 'Dancing Script', cursive;
  font-size: xx-large; }

.navegador__lista li {
  list-style-type: none;
  text-decoration: none;
  padding: 20px;
  font-size: x-large; }

.navegador__lista li a:hover {
  color: #fdfdfd;
  transform: scale(1.5); }

.navegador__lista li a {
  font-family: 'Dancing Script', cursive;
  text-decoration: none;
  color: #2b1017;
  font-size: larger;
  transition: .5s ease; }

.navegador__lista li:hover {
  font-size: 40px;
  border-radius: 50%;
  background-color: #7a6d6d; }

main {
  grid-area: main; }

.bannerPrincipal {
  width: 100%;
  height: 200px;
  color: aliceblue;
  font-family: 'Pacifico', cursive;
  font-size: xx-large;
  background-image: url(../imagenes/chef.webp);
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-repeat: round; }

body {
  background-color: #e3dbd3;
  display: grid;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(150px, auto); }

* {
  margin: 0;
  padding: 0; }

* {
  font-family: 'Figtree', sans-serif; }

h2, h3 {
  font-family: 'Solitreo', cursive;
  font-size: x-large; }

a {
  color: black; }

.formulario__contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 20px; }

.formulario__contenedor p {
  text-align: justify; }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin: 25px 25px;
  background-color: #998477;
  border-radius: 10%;
  width: 70%;
  height: max-content; }

.formulario__item {
  border-radius: 10%;
  margin: 5px;
  padding: 20px;
  width: 90%;
  height: 5px;
  border-style: solid;
  font-size: 25px; }

#comentario {
  height: 200px; }

#boton {
  border: none;
  font-family: 'Solitreo', cursive;
  width: 150px;
  height: 50px;
  padding: 5px;
  background: #e3dbd3;
  border-radius: 10%;
  transition: .5s ease; }

#boton:hover {
  transform: scale(1.1); }

.cursos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0px; }

.cursos__titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 25px 15px; }

.cursos__titulo h1 {
  margin-bottom: 20px; }

.cursos__titulo p {
  text-align: justify;
  width: 80%; }

.cursos__imagenes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px; }

.texto__curso {
  text-align: justify;
  margin-top: 20px; }

.cursos__imagenes img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: .5s ease; }

.tarjeta__cursos p {
  padding-top: 10px;
  text-align: center;
  width: 200px;
  margin-bottom: 100px;
  font-family: 'Solitreo', cursive; }

.tarjeta__cursos img:hover {
  transform: translate(0, -30px); }

.imaneges__cursos {
  width: 50%;
  height: 300px;
  border-radius: 10%;
  object-fit: cover; }

.portada {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px;
  align-items: center;
  height: fit-content; }

.portada__titulo {
  display: flex;
  align-items: center;
  flex-direction: column; }

.portada__titulo h1 {
  margin-bottom: 30PX;
  font-family: 'Solitreo', cursive; }

.portada__titulo p {
  text-align: justify;
  width: 600px; }

.portada__imagen {
  margin: 50px 0px 100px 0px;
  display: flex;
  width: 600px;
  height: 430px; }

.portada__imagen img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease; }

.portada__imagen img:hover {
  width: 300px;
  opacity: 1;
  filter: contrast(120%); }

.productos__principal {
  display: flex;
  flex-direction: column;
  align-items: center; }

.productos__aclaracion {
  font-size: large;
  margin-bottom: 50px;
  font-weight: bold; }

.productos__titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 20px; }

.productos__titulo p {
  width: 70%;
  text-align: justify; }

.productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin-bottom: 50px;
  margin-top: 30px; }

.tarjeta__producto {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center; }

.tarjeta__producto img {
  transition: .5s ease;
  width: 200px;
  height: 200px;
  border-radius: 10%; }

.tarjeta__producto H3 {
  font-size: 20px;
  margin: 5px 0xp;
  padding: 10px;
  align-items: center; }

.tarjeta__producto p {
  text-align: justify;
  width: 200px; }

.tarjeta__producto img:hover {
  transform: scale(1.5);
  transition: .5s ease; }

.servicios__titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 20px; }

.servicios__titulo p {
  width: 100%;
  text-align: justify; }

.tarjeta__servicio {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.tarjeta__servicio__catering {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.tarjeta__servicio__catering img {
  object-fit: cover;
  width: 98%;
  height: 300px;
  border-radius: 5%;
  padding: 5px; }

.tarjeta__servicio__texto {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
  margin: 20px 20px; }

.tarjeta__servicio__texto h3 {
  margin-bottom: 20px; }

.tarjeta__servicio__texto p {
  text-align: justify; }

.tarjeta__servicio__texto a {
  color: black; }

.tarjeta__servicio img {
  object-fit: cover;
  width: 98%;
  height: 300px;
  border-radius: 5%;
  padding: 5px; }

@media (min-width: 577px) and (max-width: 749px) {
  .header__nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: nav; }
  .bannerPrincipal {
    padding: 5px;
    width: 100%;
    height: 120px;
    color: #f2ecea;
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    background-image: url(../imagenes/mostrador1.jpeg);
    object-fit: fill;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-repeat: round; }
  .portada__imagen {
    margin: 50px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    opacity: 1; }
  .portada__imagen img {
    width: 90%;
    height: 100px;
    object-fit: cover;
    transition: .5s ease;
    opacity: 1; }
  .portada__imagen img:hover {
    width: 90%; }
  .tarjeta__servicio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .tarjeta__servicio__catering {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center; }
  .tarjeta__servicio__catering img {
    margin-bottom: 80px; }
  .tarjeta__servicio img {
    margin-bottom: 80px; }
  .tarjeta__servicio__texto {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 5px;
    margin: 10px; }
  .tarjeta__servicio__texto p {
    padding: 5px;
    width: 100%;
    height: 100px; }
  .servicios__titulo p {
    width: 100%;
    text-align: justify; }
  .cursos {
    justify-content: center; }
  .cursos__imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px; }
  .cursos__titulo {
    justify-content: center;
    width: 100%; }
  .cursos__titulo p {
    text-align: justify; }
  .formulario__contenedor p {
    width: 70%; }
  .footer__principal__logo {
    display: none; }
  .footer__principal {
    display: flex;
    flex-direction: column; }
    .footer__principal .footer__map {
      display: flex;
      align-items: center;
      flex-direction: column-reverse; }
  .footer__redes {
    margin: 10px 0px; }
  .copy p {
    text-align: center; } }

@media (min-width: 750px) and (max-width: 992px) {
  .header__nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: nav; }
  .cursos {
    justify-content: center; }
  .cursos__imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px; }
  .cursos__titulo {
    justify-content: center;
    width: 100%; }
  .cursos__titulo p {
    text-align: justify; }
  .formulario__contenedor p {
    width: 70%; }
  .footer__principal__logo {
    display: none; }
  .footer__principal {
    display: flex;
    flex-direction: column; }
  .footer__redes {
    margin: 10px 0px; }
  .copy p {
    text-align: center; } }

@media (max-width: 576px) {
  body {
    display: grid;
    grid-template-areas: "header header" "main main" "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto); }
  header {
    display: flex;
    flex-direction: row;
    grid-template-areas: none;
    grid-area: header;
    grid-template-columns: none;
    align-items: center;
    justify-content: center;
    width: 100%; }
    header .header__nav {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      grid-area: nav; }
  main {
    object-fit: contain; }
  .bannerPrincipal {
    padding: 5px;
    width: 100%;
    height: 120px;
    color: #f2ecea;
    font-family: 'Pacifico', cursive;
    font-size: large;
    background-image: url(../imagenes/mostrador1.jpeg);
    object-fit: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-repeat: round; }
  .portada__titulo p {
    width: 100%;
    text-align: justify;
    font-size: 16px; }
  .portada__imagen {
    margin: 50px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    opacity: 1; }
  .portada__imagen img {
    width: 90%;
    height: 100px;
    flex-grow: none1;
    object-fit: cover;
    transition: .5s ease;
    opacity: 1; }
  .portada__imagen img:hover {
    width: 90%; }
  .tarjeta__servicio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .tarjeta__servicio__catering {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center; }
  .tarjeta__servicio__catering img {
    margin-bottom: 80px; }
  .tarjeta__servicio img {
    margin-bottom: 80px; }
  .tarjeta__servicio__texto {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 5px;
    margin: 10px; }
  .tarjeta__servicio__texto p {
    padding: 5px;
    width: 100%;
    height: 100px; }
  .servicios__titulo p {
    width: 100%;
    text-align: justify; }
  .cursos {
    padding: 5px 5px; }
  .cursos__imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px; }
  .cursos__titulo {
    justify-content: center;
    width: 100%; }
  .cursos__titulo p {
    text-align: justify; }
  .formulario__contenedor p {
    width: 70%; }
  .footer__principal__logo {
    display: none; }
  .footer__principal {
    margin-top: 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: column; }
  .footer__redes {
    margin: 10px 0px; }
  .footer__map iframe {
    margin: 20px 0px; }
  .copy p {
    text-align: center;
    width: 90%; }
  footer .footer__principal .footer__map {
    display: flex;
    flex-direction: column-reverse; } }
