.formulario__contenedor{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px;
    p{
        text-align: justify;
    
    }
}


.formulario{

    display: flex;
    flex-direction: column;
    justify-content: space-around   ;
    align-items: center;
    flex-wrap: nowrap;
    margin: 25px 25px;
    background-color: map-get($colores, color-secundario );
    border-radius: 10%;
    width: 70%;
    height: max-content;
    padding: 10px;

}

.formulario__item{
    border-radius: 10%;
    margin: 5px;
    padding: 20px;
    width: 90%;
    height: 5px;
    border-style: solid;
    font-size: 25px;    
}

#comentario{
    height: 200px;
}

.boton{
    font-family:'Solitreo', cursive;
    width: 100px;
    height: 30px;
    padding: 5px;
    background: map-get($colores, color-primario );
    border-radius: 15%;
    border: map-get($colores, color-terciario ) 3px double;
    transition: .5s ease;
    &:hover{

        transform: scale(1.1);
    
    }
}

