
header{
    display: grid;
    grid-template-areas: 
    "logo nav nav nav";
    grid-area: header;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: flex-start;
    
    img{
        width: 100px;
        margin: 20px;
    }

    
}

.header__logo{
    grid-area: logo;
    padding: 20px
    }
    
    .navbar{
        grid-area: nav;

    }
    .container-fluid{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navegador__lista{
        list-style-type: none;
        text-decoration: none;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
    
    }
    
    
    
    .nav-item a{
        font-family: 'Dancing Script', cursive ;
        font-size: xx-large;
    }
    .navegador__lista li{
        list-style-type: none;
        text-decoration: none;
        padding: 20px;
        font-size:x-large;
    }
    .navegador__lista li a:hover{
        color: rgb(253, 253, 253);
        transform: scale(1.5);
    }
    .navegador__lista li a { 
        font-family: 'Dancing Script', cursive;  
        text-decoration: none;
        color: rgb(43, 16, 23);
        font-size: larger;
        transition: .5s ease
    }
    
    .navegador__lista li:hover{
      font-size: 40px;
      border-radius: 50%;
      background-color: rgb(122, 109, 109);
    
    }
    